<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: chosenList === 'all'}" (click)="onChoose('all')"
         style="cursor: pointer">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: chosenList === 'drip'}" (click)="onChoose('drip')"
         style="cursor: pointer">Drip</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: chosenList === 'cringe'}" (click)="onChoose('cringe')"
         style="cursor: pointer">Cringe</a>
    </li>
  </ul>
  <app-list [characters]="getCharacters()"></app-list>
</div>
